.App{
    background-color: deepskyblue;
    min-height: 100vh;
}

.boton {
    background-color: darkcyan;
    width: 25%;
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    color: antiquewhite;
}

.titulo{
    background-color: darkgray;
    text-align: center;
    font-weight: bold;
    color: darkred
}

.texto{
    text-align: center;
}